/* **** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* buttun hover */
.main-btn {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  background-color: #ff6700;
  border: 2px solid transparent;
  border-radius: 40px;
  color: #fff;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.main-btn:hover {
  background-color: #fff;
  color: rgb(255, 103, 0);
  text-decoration: none;
  border: solid 2px rgb(255, 103, 0);
}
/* /buttun hover */

/* header content */
.explore_header {
  width: 100%;
  margin-bottom: 5%;
  text-align: center;
}
.explore_header h2 {
  margin: 15px 0;
  font-size: 180%;
  font-weight: 600;
  color: #374050;
}
.explore_header p {
  margin-bottom: 2.1%;
  font-size: 120%;
}
/* /header content */

/* icon and content */
.sile_content_text {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 6%;
}
.sile_content_text i {
  color: #ff6700;
  font-size: 200%;
  padding: 5%;
  border: 3px solid #d9c3c3;
  border-radius: 50%;
}
.fa-flask {
  width: 116px;
  text-align: center;
}
.sile_content_text h4 {
  margin: 15px 0;
  color: rgb(67, 63, 63);
  font-size: 110%;
  font-weight: 700;
}
.sile_content_text_ph4 {
  margin-left: 3%;
}
/* /icon and content */
