/* PC */
@media (min-width:1024px) {
    #navv{
        display: block !important;
    }
}
/* Tablet */
@media (min-width:740px) and (max-width:1023px) {
    
    #header .container {
        top: 232px;
        left: 39px;
        width: 100%;
    }
    #navv{
        display: block !important;
    }
    #slide {
        display: block;
    }
    .sile_content {
        width: 100%;
    }
    .sile_img img {
        width: 700px !important;
    }
    .explore_courses {
        grid-template-columns: 50% 50%;
    }
    .explore_more {
        margin-top: 70px;
    }
    .why_iconandtext {
        display: block;
    }
    .persius_content {
        margin-right: 30x;
    }
    .persius_all {
        grid-template-columns: 100%;
    }
    .persius_img {
        width: 100%;
        height: 400px;
    }
}
/* mobi */
@media (max-width:740px) {
    
    #header {
        height: calc(100vh+ 20px);
    }
    #menu {
        display: block;
    }
    #navv {
        display: none;
    }
    #header_1 .nav 
    {
        position: fixed;
        display: block;
        height: 100vh;
        top: 0;
        right: 0;
        max-width: 250px;
        width: 100%;
        padding: 0;
        margin: 0;
        padding-top: 80px;
        padding-bottom: 40px;
        padding-left: 40px;
        background-color: #fff;
    }
    #header_1 .nav li > a {
        color: #000;
    }
    .fa-bars {
        color: #000;
    }
    #header .container {
        top: 16%;
        left: 39px;
        width: 89%;
    }
    #slide {
        display: block;
    }
    .sile_content {
        width: 100%;
    }
    #slide .sile_img img {
        width: 210%;;
    }
    .explore_courses {
        grid-template-columns: 100%;
    }
    .explore_courses_imgicon {
        margin-bottom: 10px;
    }
    .explore_courses_text{
        display: inline;
    }
    .why_iconandtext {
        display: block;
    }
    .persius_content {
        margin-right: 30x;
    }
    .persius_all {
        grid-template-columns: 100%;
    }
    .persius_img {
        width: 100%;
        height: 400px;
    }
    .fa-play {
        left: 31%;
    }
    .persius_img_a1 {
        width: 124%;
        position: absolute;
        height: 63%;
        top: 73px;
        right: -25px;
    }
    .row.ml-5.reponse {
        margin: 0 !important;
    }
}