/* header */
#header {
  position: relative;
  height: calc(100vh - 132px);
}

#header .bg_img {
  position: absolute;
  background-image: url("../img/home-background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* hình nền cuộn theo trang sửa */
  background-attachment: fixed;
}

#header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, #374050 0%, #798696 100%);
  opacity: 0.7;
}
#header_1 {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  z-index: 1;
  border-bottom: 1px solid #fff;
}
#header_1 .logo img {
  width: 150px;
  padding: 0 15px;
  margin: 15px 15px 8px 15px;
}
#header_1 .nav {
  margin-right: 30px;
  display: flex;
}

#header_1 .nav li {
  list-style: none;
  padding: 0.6rem;
}

#header_1 .nav li:hover a {
  text-decoration: underline 2px;
  text-decoration-color: #ff6700;
}
#header_1 .nav li > a {
  text-decoration: none;
  color: #fdfeff;
  font-size: 1rem;
  font-weight: 550;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
}
#menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  font-size: 29px;
  display: none;
}
#menu:hover {
  cursor: pointer;
  background-color: #ccc;
}
.fa-bars {
  padding: 29px;
  color: #fff;
}
.home-wrapper{
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  z-index: 1;
}
.home-wrapper_text_content{
  font-size: 22px;
  font-family: Montserrat, sans-serif;
  
}
/* /header */

/* slider */
#slide {
  padding: 80px 6%;
  display: flex;
  width: 100%;
}
.sile_content_text_1 {
  margin-bottom: 40px;
}
.sile_content_text_1 h1 {
  font-size: 31px;
  font-weight: 700;
  margin: 15px 0;
  color: rgb(41, 39, 39);
}
.sile_content_text_1 p {
  font-size: 121%;
}
.sile_content {
  width: 50%;
}
#slide .sile_img {
  width: 50%;
}
#slide .sile_img img {
  width: 97%;
}
/* /slider */

/* content */
#content {
  padding: 80px 10%;
  width: 100%;
}

.explore_courses {
  display: grid;
  width: 100%;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 30px;
  justify-content: space-around;
}
.explore_courses_imgicon {
  position: relative;
  width: 100%;
}
.fa-link {
  position: absolute;
  top: 42%;
  left: 43%;
  padding: 10px;
  border: 2px solid #ff6700;
  color: #fff;
  border-radius: 50%;
  opacity: 0;
  color: #ff6700;
}
.explore_courses_img img {
  width: 100%;
  border-radius: 10px;
}
.explore_courses_imgicon:hover .fa-link {
  opacity: 1;
}
.explore_courses_img img:hover {
  opacity: 0.8;
}
.explore_courses_text {
  margin-top: 12px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: block;
  text-decoration: none;
  width: 100%;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  height: 22%;
  border-bottom: 1px solid #fdfeff;
}
.explore_courses_text:hover {
  opacity: 0.8;
  font-style: 20px;
}
.explore_courses_end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.explore_courses_2 {
  color: #ff6700;
}
.explore_more {
  position: relative;
  margin-top: 50px;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 50%;
}
/* ceteros */
.ceteros_img {
  position: absolute;
  background-image: url("../img/cta1-background.jpg");
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.ceteros_img::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, #374050 0%, #798696 100%);
  opacity: 0.7;
}
/* ceteros */
/* Why */
.why {
  width: 100%;
  text-align: center;
  padding: 80px 5% 0 5%;
}
.why_iconandtext {
  width: 100%;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  gap: 12px;
}
.why_iconandtext .sile_content_text {
  text-align: start;
  width: 33.333%;
  width: 100%;
}
.gach {
  width: 100%;
  margin: 80px 0;
  border-bottom: 1px solid rgb(248, 236, 236);
}
/* /Why */
/* persius */
.persius {
  position: relative;
  /* width: 100%; */
  margin-bottom: 80px;
  padding: 0 80px;
}
.persius_all {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
  justify-items: center;
}
.persius_content {
  position: relative;
}
.persius_content h3 {
  margin-top: 15px;
  font-size: 25px;
  color: #7a6464;
}
.persius_content_p1 {
  margin: 20px 0;
  font-size: 22px;
}
.persius_content_p2 {
  line-height: 24px;
}
.persius_img {
  width: 70%;
  height: 100%;
  position: relative;
  justify-items: center;
}
.persius_img_a1 {
  width: 100%;
  position: absolute;
  height: 100%;
}
.persius_img_a1 img {
  width: 100%;
  position: absolute;
  height: 100%;
  border-radius: 10px;
  /* vertical-align: middle; */
}

.fa-play {
  width: 80px;
  position: absolute;
  height: 80px;
  top: 37%;
  left: 42%;
  font-size: 24px;
  padding: 29px 34px;
  background-color: #fff;
  color: #000;
  align-items: center;
  border-radius: 50%;
}
.persius_img_a1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff6700;
  opacity: 0.7;
  border-radius: 10px;
}
.persius_img_a1:hover {
  opacity: 0.5;
}
.fa-play:hover {
  cursor: pointer;
  color: #ff6700;
}
/* /persius */

/* Contact */
.section {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}
.bg-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.contact_heading {
  color: #fff;
  font-weight: 550;
}
.contact_text {
  color: #fff;
  margin-bottom: 24px;
  font-weight: 300;
  font-size: 22px;
}
.bg-image.overlay:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, #374050 0%, #798696 100%);
  opacity: 0.7;
}
/* /Contact */

/* Footer */
#footer {
  padding: 80px 0;
}
.footer-nav_link {
  float: right;
}
.footer-nav_link a {
  text-align: right;
  text-transform: uppercase;
  color: black;
  font-weight: 500;
  font-size: 15px;
  font-family: "Blinker", sans-serif;
}
.footer-nav_link a:hover {
  color: #ff6700;
  text-decoration: underline #ff6700 2px;
}
.footer_logo .logo > img {
  max-height: 30px;
}
.footer_logo .logo > img {
  display: inline-block;
}
#bottom_footer {
  border-top: 1px solid #ebebeb;
  margin-top: 20px;
  padding-top: 20px;
}

.bottom_footer_text a {
  font-weight: 550;
  color: #111;
}
.bottom_footer_text a:hover {
  color: #111;
  text-decoration: none;
}
/* /Footer */

/* contact page */
.contact-link li + li:before {
  content: "/";
  margin: 0px 5px;
  color: rgba(235, 235, 235, 0.25);
}
.contact-link li,
.contact-link li a {
  color: white;
  list-style-type: none;
}

/* blog */

.single-blog_img a img {
  width: 100%;
  border-radius: 4px;
}
.single-blog_img a img :hover {
  opacity: 0.7;
  background-color: #ff6700;
}
.single-blog_img a img {
  width: 100%;
}
.Categories-list {
  color: #ff6700;
}
.Categories-list a {
  font-weight: 700;
  color: black;
  font-family: 'Lato', sans-serif;

}
.tag {
  color: black;
}
.list_content{
  list-style-type: none;
}
.single-post-img img {
  position: relative;
  width: 80px;
  float: left;
  margin-right: 8px;
  border-radius: 4px;
}
.single-post-img img:hover {
  background-color: #ff6700;
  opacity: 0.7;
}

.widget-post-widget-list-link:hover,
.widget-category-widget-link:hover {
  text-decoration: none;
  color: #343a40 !important;
}
.single-blog_meta-link,
.single-blog_meta-link i {
  color: #ff6700;
  font-weight: 550;
}
.single-blog_meta-link:hover,
.single-blog_meta-link i:hover {
  text-decoration: none;
  color: #ff6700;
}
.page-a {
  display: block;
  padding: 12px;
  line-height: 1.25;
  color: #374050;
  border: 1px solid #dee2e6;
  margin: 0 8px;
}
.page-a:hover {
  background-color: #ff6700;
  color: #fff;
  text-decoration: none;
}
.single-blog_link h4 {
  font-size: 18px;
  font-weight: 550;
  color: #374050;
}
.single-blog_link:hover {
  text-decoration: none;
}
.list-contact ul {
  list-style-type: none;
  padding: 0;
}
.list-contact ul li i {
  color: #ff6700;
}
.Login {
  padding: 80px;
}
.LogUp {
  padding: 80px;
}
.sent {
  position: relative;
}
.Verification {
  width: 80% !important;
}
.btn_sent {
  position: absolute !important;
  top: 31px !important;
  right: 0;
  width: 20%;
}
.row.ml-5 {
  justify-content: center;
}
.courses {
  line-height: 70px;
  border-radius: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.courses h2 {
  font-size: 45px;
  font-weight: 700;
}
.courses h5 {
  font-weight: 600;
}
.courses a {
  font-size: 20px;
}
/* Blog Post */
.blog-post p {
  color:#798696;
  font-weight: 400;
  font-size: 16px;
}
.blog-share {
  border-top: solid 1px #ebebeb;
  padding-top: 12px;
  margin: bottom 40px;
}
.blog-share > h4 {
  display: inline-block;
  color: #000;
}
.list-social li a,
.blog-share a {
  display: inline-block;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}
 a.facebook {
  background-color: #3b5998;
}
.list-social li a.twitter,
.blog-share a.twitter {
  background-color: #1da1f2;
}
.list-social li a.google,
.blog-share a.google {
  background-color: #dd4b39;
}
.list-social li a.linkedin{
  background-color: #0077b5;
}
.list-social li a.instagram{
  background-color: #e1306c;
}
.list-social li a.youtube{
  background-color: #ff0000;
}
.blog-comment {
  margin-top: 40px;
}
.comment {
  overflow: hidden;
  zoom: 1;
  display: block;
}
.blog-comment .comment-avata {
  position: relative;
  padding-right: 20px;
}
.blog-comment .comment-avata img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.comment-body_heading {
  margin-bottom: 6px;
}
.blog-comment .comment-body_reply {
  text-transform: uppercase;
  color: #374050;
}
.blog-comment .comment-body_reply a {
  margin-left: 16px;
  color: #374050;
  font-family: Lato;
  font-weight: 500;
}
.blog-comment .comment-body_reply span {
  font-size: 12px;
    text-transform: uppercase;
    color: #374050;
}
.blog-comment .comment-body_reply a:hover {
  text-decoration: none;
}
.blog-comment .comment .comment-avata:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  border-style: solid;
  border-width: 0px 15px 15px;
  border-color: transparent #ebebeb transparent transparent;
}
.comment-body,
.comment-avata {
  display: table-cell;
  vertical-align: top;
}
.comment-body {
  padding: 20px;
  background-color: #ebebeb;
  border-radius: 0px 4px 4px;
}

.blog-comment .comment .comment {
  margin-left: 20px;
}
.blog-comment .comment {
  margin-top: 20px;
}
.blog-reply-form {
  margin-top: 40px;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="url"],
input[type="tel"],
textarea {
  border: 1px solid #ebebeb;
}

.input-elevated {
  font-size: 16px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><path fill='%23838D99' d='M13.22 14.63a8 8 0 1 1 1.41-1.41l4.29 4.29a1 1 0 1 1-1.41 1.41l-4.29-4.29zm-.66-2.07a6 6 0 1 0-8.49-8.49 6 6 0 0 0 8.49 8.49z'></path></svg>");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: 20px 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  width: 100%;
  padding: 0.5em 1em 0.5em 2.5em;
}

.input-elevated::placeholder {
  color: #838d99;
}

.input-elevated:focus {
  outline: none;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16);
}

.items1{
  color: #000;
}
.items1:hover{
  text-decoration: none;
  color: #ff6700;
}
.nextprev{
  padding-bottom: 20px;
  padding-top: 20px;
}
.info{
  background-color: #dd4b39;
  padding: 24px
}
hr{
  margin: 20px - 16px;
}
.text1{
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  font-size: 15px;
}